InformationaCriteria_RJMCMC.R
moveHMM.R
PosterioEstimates_SimulatedData.jl
RJMCMC.c
RJMCMC.o
RJMCMC.R
RJMCMC.so
RJMCMC_FARM.R
RJMCMCICL.c
RJMCMCV2.c
RJMCMCV2.o
RJMCMCV2.so
out/.Rapp.history
out/Mod1plot.pdf
out/Mod1SSJ.Rdata
out/Mod2_OU.pdf
out/Mod2_ST.pdf
out/Mod2_STAP.pdf
out/Mod_RJMCMC_0_5.Rdata
out/Mod_RJMCMC_1_4.pdf
out/Mod_RJMCMC_1_4.Rdata
out/Mod_RJMCMC_5_0.pdf
out/Mod_RJMCMC_5_0.Rdata
out/plot.pdf
out/SSJ.Rdata
Sim.sh
Sim/
RJMCMCFARM/LANCIO.txt
RJMCMCFARM/RJMCMC_101.R
RJMCMCFARM/RJMCMC_101.sh
RJMCMCFARM/RJMCMC_102.R
RJMCMCFARM/RJMCMC_102.sh
RJMCMCFARM/RJMCMC_103.R
RJMCMCFARM/RJMCMC_103.sh
RJMCMCFARM/RJMCMC_104.R
RJMCMCFARM/RJMCMC_104.sh
RJMCMCFARM/RJMCMC_105.R
RJMCMCFARM/RJMCMC_105.sh
RJMCMCFARM/RJMCMC_106.R
RJMCMCFARM/RJMCMC_106.sh
RJMCMCFARM/RJMCMC_107.R
RJMCMCFARM/RJMCMC_107.sh
RJMCMCFARM/RJMCMC_108.R
RJMCMCFARM/RJMCMC_108.sh
RJMCMCFARM/RJMCMC_109.R
RJMCMCFARM/RJMCMC_109.sh
RJMCMCFARM/RJMCMC_111 .R
RJMCMCFARM/RJMCMC_111.sh
RJMCMCFARM/RJMCMC_1110.R
RJMCMCFARM/RJMCMC_1110.sh
RJMCMCFARM/RJMCMC_112.R
RJMCMCFARM/RJMCMC_112.sh
RJMCMCFARM/RJMCMC_113.R
RJMCMCFARM/RJMCMC_113.sh
RJMCMCFARM/RJMCMC_114.R
RJMCMCFARM/RJMCMC_114.sh
RJMCMCFARM/RJMCMC_115.R
RJMCMCFARM/RJMCMC_115.sh
RJMCMCFARM/RJMCMC_116.R
RJMCMCFARM/RJMCMC_116.sh
RJMCMCFARM/RJMCMC_117.R
RJMCMCFARM/RJMCMC_117.sh
RJMCMCFARM/RJMCMC_118.R
RJMCMCFARM/RJMCMC_118.sh
RJMCMCFARM/RJMCMC_119.R
RJMCMCFARM/RJMCMC_119.sh
RJMCMCFARM/RJMCMC_121.R
RJMCMCFARM/RJMCMC_121.sh
RJMCMCFARM/RJMCMC_1210.R
RJMCMCFARM/RJMCMC_1210.sh
RJMCMCFARM/RJMCMC_1211.R
RJMCMCFARM/RJMCMC_1211.sh
RJMCMCFARM/RJMCMC_122.R
RJMCMCFARM/RJMCMC_123.R
RJMCMCFARM/RJMCMC_123.sh
RJMCMCFARM/RJMCMC_124.R
RJMCMCFARM/RJMCMC_124.sh
RJMCMCFARM/RJMCMC_125.R
RJMCMCFARM/RJMCMC_125.sh
RJMCMCFARM/RJMCMC_126.R
RJMCMCFARM/RJMCMC_126.sh
RJMCMCFARM/RJMCMC_127.R
RJMCMCFARM/RJMCMC_127.sh
RJMCMCFARM/RJMCMC_128.R
RJMCMCFARM/RJMCMC_128.sh
RJMCMCFARM/RJMCMC_129.R
RJMCMCFARM/RJMCMC_129.sh
RJMCMCFARM/RJMCMC_21.R
RJMCMCFARM/RJMCMC_21.sh
RJMCMCFARM/RJMCMC_22.R
RJMCMCFARM/RJMCMC_22.sh
RJMCMCFARM/RJMCMC_31.R
RJMCMCFARM/RJMCMC_31.sh
RJMCMCFARM/RJMCMC_32.R
RJMCMCFARM/RJMCMC_32.sh
RJMCMCFARM/RJMCMC_33.R
RJMCMCFARM/RJMCMC_33.sh
RJMCMCFARM/RJMCMC_41.R
RJMCMCFARM/RJMCMC_41.sh
RJMCMCFARM/RJMCMC_42.R
RJMCMCFARM/RJMCMC_42.sh
RJMCMCFARM/RJMCMC_43.R
RJMCMCFARM/RJMCMC_43.sh
RJMCMCFARM/RJMCMC_44.R
RJMCMCFARM/RJMCMC_44.sh
RJMCMCFARM/RJMCMC_51.R
RJMCMCFARM/RJMCMC_51.sh
RJMCMCFARM/RJMCMC_52.R
RJMCMCFARM/RJMCMC_52.sh
RJMCMCFARM/RJMCMC_53.R
RJMCMCFARM/RJMCMC_53.sh
RJMCMCFARM/RJMCMC_54.R
RJMCMCFARM/RJMCMC_54.sh
RJMCMCFARM/RJMCMC_55.R
RJMCMCFARM/RJMCMC_55.sh
RJMCMCFARM/RJMCMC_61.R
RJMCMCFARM/RJMCMC_61.sh
RJMCMCFARM/RJMCMC_62.R
RJMCMCFARM/RJMCMC_62.sh
RJMCMCFARM/RJMCMC_63.R
RJMCMCFARM/RJMCMC_63.sh
RJMCMCFARM/RJMCMC_64.R
RJMCMCFARM/RJMCMC_64.sh
RJMCMCFARM/RJMCMC_65.R
RJMCMCFARM/RJMCMC_65.sh
RJMCMCFARM/RJMCMC_66.R
RJMCMCFARM/RJMCMC_66.sh
RJMCMCFARM/RJMCMC_71.R
RJMCMCFARM/RJMCMC_71.sh
RJMCMCFARM/RJMCMC_72.R
RJMCMCFARM/RJMCMC_72.sh
RJMCMCFARM/RJMCMC_73.R
RJMCMCFARM/RJMCMC_73.sh
RJMCMCFARM/RJMCMC_74.R
RJMCMCFARM/RJMCMC_74.sh
RJMCMCFARM/RJMCMC_75.R
RJMCMCFARM/RJMCMC_75.sh
RJMCMCFARM/RJMCMC_76.R
RJMCMCFARM/RJMCMC_76.sh
RJMCMCFARM/RJMCMC_77.R
RJMCMCFARM/RJMCMC_77.sh
RJMCMCFARM/RJMCMC_81.R
RJMCMCFARM/RJMCMC_81.sh
RJMCMCFARM/RJMCMC_82.R
RJMCMCFARM/RJMCMC_82.sh
RJMCMCFARM/RJMCMC_83.R
RJMCMCFARM/RJMCMC_83.sh
RJMCMCFARM/RJMCMC_84.R
RJMCMCFARM/RJMCMC_84.sh
RJMCMCFARM/RJMCMC_85.R
RJMCMCFARM/RJMCMC_85.sh
RJMCMCFARM/RJMCMC_86.R
RJMCMCFARM/RJMCMC_86.sh
RJMCMCFARM/RJMCMC_87.R
RJMCMCFARM/RJMCMC_87.sh
RJMCMCFARM/RJMCMC_88.R
RJMCMCFARM/RJMCMC_88.sh
RJMCMCFARM/RJMCMC_91.R
RJMCMCFARM/RJMCMC_91.sh
RJMCMCFARM/RJMCMC_92.R
RJMCMCFARM/RJMCMC_92.sh
RJMCMCFARM/RJMCMC_93.R
RJMCMCFARM/RJMCMC_93.sh
RJMCMCFARM/RJMCMC_94.R
RJMCMCFARM/RJMCMC_94.sh
RJMCMCFARM/RJMCMC_95.R
RJMCMCFARM/RJMCMC_95.sh
RJMCMCFARM/RJMCMC_96.R
RJMCMCFARM/RJMCMC_96.sh
RJMCMCFARM/RJMCMC_97.R
RJMCMCFARM/RJMCMC_97.sh
RJMCMCFARM/RJMCMC_98.R
RJMCMCFARM/RJMCMC_98.sh
RJMCMCFARM/RJMCMC_99.R
RJMCMCFARM/RJMCMC_99.sh
Data/initial_values.RData
Data/seal908_data.RData
PlotsAndTables_RJ.R
InformationaCriteria.R
Data_3.csv
